@font-face {
    font-family: 'Highrise';
    src: url('HighriseFontRegular.otf') format('opentype');
    font-weight: lighter;
}



body{
    background: #1e1e21;
}

.sreeram{
    text-align: center;
    font-family: 'Highrise';
    font-size: 140px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0px;
}

.vgopal{
    font-family: "MangoGrotesqueBlackIta";
    color: azure;
    font-size: 110px;
    text-align: center;
    margin-top: 0px;
    
}