@font-face {
    font-family: 'Highrise';
    src: url('HighriseFontRegular.otf') format('opentype');
    font-weight: lighter;
}

body {
    margin: 0;
    height: 100vh;
    background: #1e1e21;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;        
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sreeram {
    font-family: 'Highrise';
    font-size: 280px;
    color: #ffea00;
    font-weight: normal;
    margin: 0;
    line-height: 0.5; /* tighter spacing */
}

.vgopal {
    font-family: 'Highrise';
    font-size: 280px;
    color: #ffffff;
    font-weight: normal;
    margin: 0;
}
